.nav {
    grid-area: n;
    background-color: #e9ebee;
    padding: 20px;
    border-right: 2px solid #3c5a9a;
}

.item {
    margin-bottom: 5px;
}
.item a {
    color: white;
    text-decoration: none;
}
.item a.activeLink {
    color: salmon;
}