.item {
    color: black;
    margin-bottom: 15px;
}

.item img {
    border-radius: 50px;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.name {
    font-size: 22px;
}

.status {
    font-size: 18px;
}

.message {
   color: #000000;
}

.like {
    width: 100px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border: 1px solid green;
    background-color: green;
    color: #ffffff;
}