.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {

}
.dialog a.active {
    color: salmon;
}
.dialog {
    margin-bottom: 5px;
}
.dialog a {
    color: #3d3b3e;
    text-decoration: none;
}

.messages {

}
.message {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #3c5a9a;
    border-radius: 10px;
    width: 50%;
}
.message:nth-child(even) {
    margin-left: auto;
}